<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>人脸识别系统</title>
    <link href="static/element-plus.2.3.12/index.css" rel="stylesheet">
    <style>
        html, body, #app {
            height: 100%;
            margin: 0;
            overflow: hidden;
        }

        #app {
            display: grid;
            grid-template-rows: auto minmax(0, 1fr);
            grid-template-columns: 100%;
            gap: 10px;
            padding: 10px;
            box-sizing: border-box;
            opacity: 0;
            transition: opacity 0.5s;
        }
        .person-face-img-list {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;;
        }
        .person-face-img-list img {
            max-width: 100px;
            max-height: 100px;
            margin: 2px;
        }
    </style>
</head>
<body>
<div id="app">
    <div></div>
    <div style="display: grid;grid-template-rows: auto minmax(0, 1fr);grid-template-columns: 100%;gap: 10px;">
        <div>
            <el-button type="primary" @click="showEditPersonDialog = true; editPersonInfo.name = null; editPersonInfo.faces = []">新增人</el-button>
            <el-button type="primary" @click="showRecognitionDialog = true;recognitionInfo.faceImg=null;recognitionInfo.result=null;">开始识别</el-button>
        </div>
        <el-table v-loading="allPerson == null" :data="allPerson" style="width: 100%;height: 100%;" border stripe highlight-current-row>
            <el-table-column prop="person_id" label="编号" width="70" fixed align="center"></el-table-column>
            <el-table-column prop="name" label="姓名" width="100" align="center"></el-table-column>
            <el-table-column prop="name" label="人脸">
                <template #default="{row}">
                    <div class="person-face-img-list">
                        <img :src="face.face_img" v-for="face in row.faces">
                    </div>
                </template>
            </el-table-column>
            <el-table-column prop="create_time"
                             label="添加时间"
                             :formatter="row => new Date(row.create_time).toLocaleString()"
                             width="100" align="center"></el-table-column>
            <el-table-column prop="name" label="操作" width="200" fixed="right" align="center">
                <template #default="{row}">
                    <el-button @click="addPersonFace(row)" plain type="primary">新增人脸</el-button>
                    <el-button @click="removePerson(row)" type="danger">删除</el-button>
                </template>
            </el-table-column>
        </el-table>

        <el-dialog v-model="showEditPersonDialog"
                   title="新增人"
                   :lock-scroll="false"
                   draggable
                   width="500">
            <el-form>
                <el-form-item label="姓名">
                    <el-input v-model="editPersonInfo.name"></el-input>
                </el-form-item>
                <el-form-item label="人脸">
                    <el-button @click="addEditPersonFace">添加</el-button>

                    <div class="person-face-img-list">
                        <img :src="face.face_img" v-for="face in editPersonInfo.faces">
                    </div>
                </el-form-item>
            </el-form>
            <div>
                <el-button @click="savePersonInfo" type="primary">保存</el-button>
                <el-button @click="showEditPersonDialog=false">取消</el-button>
            </div>
        </el-dialog>

        <el-dialog v-model="showRecognitionDialog"
                   title="识别"
                   :lock-scroll="false"
                   draggable
                   width="500">
            <el-form>
                <el-form-item label="选择人脸">
                    <div class="person-face-img-list">
                        <img :src="recognitionInfo.faceImg" />
                    </div>

                    <el-button type="primary" @click="selectRecognitionFace">选择图片</el-button>
                    <el-button v-if="recognitionInfo.faceImg != null" type="primary" @click="recognitionFace">识别</el-button>
                </el-form-item>
                <el-form-item label="结果">
                    <span v-if="recognitionInfo.result != null">
                        人物编号：{{recognitionInfo.result.person_id}}，姓名：{{recognitionInfo.result.name}}，相似度：{{Math.round((1 - recognitionInfo.result.diff) * 10000) / 100}}%
                    </span>
                </el-form-item>
            </el-form>

            <div>
                <el-button @click="showRecognitionDialog=false" type="primary">关闭</el-button>
            </div>
        </el-dialog>
    </div>
</div>


<script src="static/vue.global.3.3.4.js"></script>
<script src="static/element-plus.2.3.12/index.full.js"></script>
<script type="module">
    import { showOpenFilePicker } from 'https://cdn.jsdelivr.net/npm/file-system-access/lib/es2018.js'

    const {createApp} = Vue;
    const basePath = "";

    const arrayBufferToBase64 = (buffer) => {
        let binary = '';
        let bytes = new Uint8Array( buffer );
        let len = bytes.byteLength;
        for (let i = 0; i < len; i++) {
            binary += String.fromCharCode( bytes[ i ] );
        }
        return window.btoa( binary );
    }

    const selectBase64Image = async (multiple = false) => {
        let fileHandles = await showOpenFilePicker({
            types: [{
                description: 'Images',
                accept: {
                    'image/*': ['.png', '.gif', '.jpeg', '.jpg', '.webp']
                }
            }],
            multiple: multiple
        });

        if(fileHandles.length == 0) {
            throw "未选择图片"
        }

        const base64Images = [];
        for (const fileHandle of fileHandles) {
            let base64Type;
            let filename = fileHandle.name.toLocaleLowerCase();
            if(filename.endsWith(".jpg")
                || filename.endsWith(".jpeg")) {
                base64Type = "image/jpeg";
            } else if(filename.endsWith(".png")) {
                base64Type = "image/png";
            } else if(filename.endsWith(".gif")) {
                base64Type = "image/gif";
            } else if(filename.endsWith(".webp")) {
                base64Type = "image/webp";
            } else {
                throw "未知文件类型"
            }

            // 获取文件内容
            const fileData = await fileHandle.getFile();
            // 读文件数据
            const buffer = await fileData.arrayBuffer();

            base64Images.push(`data:${base64Type};base64,${arrayBufferToBase64(buffer)}`);
        }
        return base64Images;
    }

    let app = createApp({
        data() {
            return {
                allPerson: null,
                showEditPersonDialog: false,
                showRecognitionDialog: false,
                editPersonInfo: {
                    name: null,
                    faces: []
                },
                recognitionInfo: {
                    faceImg: null,
                    result: null,
                }
            }
        },
        created() {
            window._this = this;

            this.$nextTick(() => {
                document.querySelector("#app").style.opacity = 1
            })

            this.loadAllPerson();
        },
        methods: {
            loadAllPerson() {
                this.allPerson = null;

                fetch(`${basePath}/api/load_all_person`)
                    .then(resp => resp.json())
                    .then(resp => {
                        this.allPerson = resp.data
                    })
            },
            async savePersonInfo() {
                let addPersonResp = await fetch(`${basePath}/api/add_person`, {
                    method: "POST",
                    body: 'name=' + encodeURIComponent(this.editPersonInfo.name),
                    headers: {
                        'Content-Type': 'x-www-form-urlencoded'
                    }
                })
                addPersonResp = await addPersonResp.json();
                for(let face of this.editPersonInfo.faces) {
                    let addPersonFaceResp = await fetch(`${basePath}/api/add_person_face`, {
                        method: "POST",
                        body: `person_id=${addPersonResp.data}&face_img=${encodeURIComponent(face.face_img)}`,
                        headers: {
                            'Content-Type': 'x-www-form-urlencoded'
                        }
                    });
                    addPersonFaceResp = await addPersonFaceResp.json();
                    if(addPersonFaceResp.code != 0) {
                        this.$message({
                            message: "添加人脸失败：" + addPersonFaceResp.message,
                            type: "warning"
                        });
                    }
                }
                this.showEditPersonDialog = false;
                this.editPersonInfo.name = null;
                this.editPersonInfo.faces = [];
                this.loadAllPerson();
            },
            async addPersonFace(personInfo) {
                let base64Images = await selectBase64Image(false);
                for(let base64Image of base64Images) {
                    let addPersonFaceResp = await fetch(`${basePath}/api/add_person_face`, {
                        method: "POST",
                        body: `person_id=${personInfo.person_id}&face_img=${encodeURIComponent(base64Image)}`,
                        headers: {
                            'Content-Type': 'x-www-form-urlencoded'
                        }
                    });
                    addPersonFaceResp = await addPersonFaceResp.json();
                    if(addPersonFaceResp.code != 0) {
                        this.$message({
                            message: "添加人脸失败：" + addPersonFaceResp.message,
                            type: "warning"
                        });
                    }
                }
                this.loadAllPerson();
            },
            async recognitionFace() {
                this.recognitionInfo.result = null;

                let recognitionFaceResp = await fetch(`${basePath}/api/get_person_by_face`, {
                    method: "POST",
                    body: 'face_img=' + encodeURIComponent(this.recognitionInfo.faceImg),
                    headers: {
                        'Content-Type': 'x-www-form-urlencoded'
                    }
                })
                recognitionFaceResp = await recognitionFaceResp.json();
                if(recognitionFaceResp.code == 0) {
                    this.recognitionInfo.result = recognitionFaceResp.data;
                } else {
                    this.$alert(recognitionFaceResp.message);
                }

            },
            async removePerson(personInfo) {
                let removePersonResp = await fetch(`${basePath}/api/remove_person`, {
                    method: "POST",
                    body: `person_id=${personInfo.person_id}`,
                    headers: {
                        'Content-Type': 'x-www-form-urlencoded'
                    }
                });
                removePersonResp = await removePersonResp.json();
                this.loadAllPerson();
            },
            async selectRecognitionFace() {
                let base64Images = await selectBase64Image(false);
                this.recognitionInfo.faceImg = base64Images[0]
                this.recognitionInfo.result = null;
            },
            async addEditPersonFace() {
                let base64Images = await selectBase64Image(true);
                base64Images.forEach(img => {
                    this.editPersonInfo.faces.push({
                        face_img: img,
                    });
                })
            }
        }
    });
    app.use(ElementPlus);
    app.mount('#app')
</script>
</body>
</html>
